footer{
    background-color: #252A2E;
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 20px 5px;
    font-size: 20px;
    transition: .3s;
}
footer .redes a:hover{
    opacity: .5;
    background-color: #000;
}
